body {
    margin 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#diverse-selector {
    background-color: #eee;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#movies-thumb-cards {
    background-color: #ccc;
    border: #777 solid;
    border-radius: 10px;
}