* {
  margin: 30px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: -moz-radial-gradient();
}

header {
  position: relative;
  min-height: 100vh;
}
header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.06em;
}

h3 {
  font-weight: 500;
}

#search-input {
  border: 1px solid #fff;
  border-right: none;
  color: #fff;
}
#search-input::placeholder {
  color: #fff;
}
#search-btn {
  border: 1px solid #fff;
}

.title-span {
  color: #ff8e99;
}
#movies-thumb-cards .card,
.movie-wraper.card {
  cursor: pointer;
}

#sort-card-title {
  font-size: 14px;
  font-weight: 700;
}
#movies .card-body {
  color: black;
}

#rating i {
  color: #ffb92a;
  margin-right: 5px;
  font-weight: bold;
  font-size: 18px;
}
#remove-favorite {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 5px;
  left: calc(100% - 22px);
  transition: color 0.2s ease-in;
  color: #000;
}
#remove-favorite:hover {
  transition: color 0.2s ease-in;
  color: #dc3545;
}
#favorites-btn {
  padding: 0;
  text-align: center;
  border: none;
  background: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#movies .card-body {
  color: black;
}
#favorites-btn i {
  font-size: 24px;
  width: 100%;
  text-align: center;
  color: #807e7e;
  transition: color 0.2s ease-in;
}
#favorites-btn:hover i {
  color: #ffb92a;
  transition: color 0.2s ease-in;
}
#youtube-trailer {
  width: 100%;
  max-height: 451px;
}

#movie-details {
  background: #000;
}

.meta span {
  color: #807e7e;
}
.genre {
  border: 2px solid #807e7e;
  border-radius: 25px;
  padding: 6px 24px;
  color: #807e7e;
  margin-right: 10px;
}

.meta i {
  color: #ffb92a !important;
  font-size: 18px;
  margin-right: 5px;
}

.about-movie p span {
  color: #807e7e;
}
#movie-reviews-section {
  position: relative;
  background: url(../img/reviews_section.jpg);
  background-size: cover;
  background-position: center;
}
#movie-reviews-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
}
#movie-review .card {
  background: transparent;
  border: none;
  position: relative;
  color: #fff;
}

#movie-review .review-count {
  position: relative;
  color: #807e7e;
}

#movie-review .card h4 i {
  color: #ffb92a;
  margin-right: 5px;
}
#movie-review .card h4 {
  margin-top: 20px;
  text-transform: uppercase;
  color: #807e7e;
  padding-bottom: 15px;
  border-bottom: 1px solid #807e7e;
}

#movie-review .card h5 {
  color: #807e7e;
  font-size: 14px;
}
#movie-review .card h4 i span {
  color: #807e7e;
  margin-left: 5px;
  font-weight: 500;
}

/*responsive part */
@media screen and (max-width: 960px) {
  #movies-thumb-cards {
    display: inline;
    gap: 20px;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  #movies-thumb-card {
    grid-column: auto;
    display: inline;
    gap: 20px;
    align-items: center;
  }
  .movie-wraper img {
    max-height: 150px;
  }
}
