* {
  margin: 30px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: -moz-radial-gradient();
}

header {
  min-height: 100vh;
  background: #bebebe;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.06em;
}

h3 {
  font-weight: 500;
  margin-top: 1.2em;
}

#movies-thumb-cards .card,
.movie-wraper.card {
  cursor: pointer;
}

#movies .card-body {
text-color: black;
}

#remove-favorite {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 5px;
  left: calc(100% - 22px);
  transition: color 0.2s ease-in;
}
#remove-favorite:hover {
  transition: color 0.2s ease-in;
  color: red;
}
#favorites-btn {
  padding: 0;
  text-align: center;
  border: none;
  background: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#movies .card-body {
  color: black;
}
#favorites-btn i {
  font-size: 24px;
  width: 100%;
  text-align: center;
  color: #000;
  transition: color 0.2s ease-in;
}
#favorites-btn:hover i {
  color: #ffb92a;
  transition: color 0.2s ease-in;
}
#youtube-trailer {
  width: 100%;
  max-height: 451px;
}

#movie-details {
  background: #3f3d3d;
}

#movie-reviews-section {
  background: #ecce93;
}

/*responsive part */
@media screen and (max-width: 960px) {
  #movies-thumb-cards {
    display: inline;
    gap: 20px;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  #movies-thumb-card {
    grid-column: auto;
    display: inline;
    gap: 20px;
    align-items: center;
  }
}
